$transparent: transparent;

$red:         red;
$yellow:      yellow;
$green:       #7DB59A;
$greenDark:   #5B9479;
$greenDarkest:#4F896C;
$greenLight:  #D3EDE1;
$blue:        blue;
$black:       black;
$white:       white;
$pink:        #E84393;
$pinkDark:    #B03671;
$pinkDarkest: #832552;
$gray:        gray;
$grayLight:   #C2C2C2;
$background:  #F5F5F5;
$demarkLine:  #616C6C;

$inter400: 'Inter400', sans-serif;
$inter500: 'Inter500', sans-serif;
$inter700: 'Inter700', sans-serif;
$inter800: 'Inter800', sans-serif;

$t05s: .5s;